<%- include("../../partials/header.ejs") %>
    <main>
        <section>
            <header class="center">
                <h1 class="fs-1">Авторизация</h1>
            </header>
            <div class="pt-5">
                <div class="row m-0 background background-auth">
                    <div class="col l4 s12"></div>
                    <form class="col l6 s12 me-5 mb-5 teal lighten-5">
                        <small>Заполните поле</small>
                        <div class="row pt-4">
                            <div class="input-field col">
                                <input id="email" type="email" class="validate">
                                <label for="email">Логин</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col">
                                <input id="password" type="password" class="validate">
                                <label for="password">Пароль</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col">
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Войти
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <%- include("../../partials/footer.ejs") %>