<footer class="page-footer red lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><i class="material-icons align-text-bottom">local_pizza</i>Mama Mia Pizza Str</h5>
                <p class="grey-text text-lighten-4">Сайт для заказа еды</p>
                <ul class="pt-2">
                    <li class="pt-2">
                        <i class="material-icons align-middle">phone</i>
                        +79279402625
                    </li>
                    <li class="pt-4">
                        <i class="material-icons align-middle">mail_outline</i>
                        johndoe@gmail.com
                    </li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Навигация</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Главная</a></li>
                    <li><a class="grey-text text-lighten-3" href="/menu">Меню</a></li>
                    <li>
                        <a class="grey-text text-lighten-3" href="/app">Приложение</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="/profile">Профиль</a></li>
                    <li><a class="grey-text text-lighten-3" href="/basket">Корзина</a></li>
                    <li><a class="grey-text text-lighten-3" href="/auth">Вход</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Mama Mia Pizza Str
            <a class="grey-text text-lighten-4 right" href="https://mama-mia-pizza-str.web.app/">Больше</a>
        </div>
    </div>
</footer>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>