<title>Mama Mia Pizza</title>
<meta charset="utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<link rel="icon" type="image/png" href="/icon/favicon.png" />
<link rel="shortcut icon" type="image/png" href="/icon/favicon.png" />
<link rel="apple-touch-icon" href="/icon/favicon.png" />
<link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-utilities.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">