<%- include("../../partials/header.ejs") %>
    <main class="container">
        <section>
            <article>
                <header>
                    <h1>Приложение</h1>
                    <small>Слайды</small>
                </header>
                <div class="carousel">
                    <a class="carousel-item" href="#">
                        <img src="/images/app/menu.png" alt="Меню" />
                        <div class="center">Меню</div>
                    </a>
                    <a class="carousel-item" href="#">
                        <img src="/images/app/view.png" alt="Вид" />
                        <div class="center">Вид</div>
                    </a>
                    <a class="carousel-item" href="#">
                        <img src="/images/app/basket.png" alt="Корзина" />
                        <div class="center">Корзина</div>
                    </a>
                </div>
            </article>
        </section>
    </main>
    <%- include("../../partials/footer.ejs") %>