<%- include("../../partials/header.ejs") %>
<main class="container">
    <section>
        <article>
            <header>
                <h1 class="fs-1">Корзина</h1>
            </header>
            <div>
                <span>Пусто!</span>
            </div>
        </article>
    </section>
</main>

<%- include("../../partials/footer.ejs") %>