
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.material-placeholder {
    display: flex;
    justify-content: center;
}
.background-profile {
  height: 240px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
}
.background-auth {
  background-image: url(../images/pizza/margarita.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}