<%- include("../../partials/header.ejs") %>
    <main class="container">
        <section>
            <article>
                <header>
                    <h1 class="fs-1">Профиль</h1>
                    <small>страница пользователя</small>
                </header>
                <div>
                    <div class="card">
                        <div class="card-image">
                            <div class="background background-profile"></div>
                            <span class="card-title name">User Name</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">edit</i></a>
                        </div>
                        <div class="card-content">
                            <span class="email">E-mail</span>
                            <p>О себе</p>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect red waves-light m-2" type="submit" name="action">
                                Удалить профиль
                            </button>
                            <button class="btn waves-effect waves-light m-2" type="submit" name="action">
                                Выйти
                            </button>
                          </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include("../../partials/footer.ejs") %>