<%- include("../partials/header.ejs") %>
  <main class="container">
    <section>
      <article>
        <header>
          <h1>Добро пожаловать, гость!</h1>
          <small>Пицца</small>
        </header>
        <div class="carousel">
          <a class="carousel-item" href="#">
            <img class="circle" src="/images/pizza/cheese.jpg" alt="Батырская" />
            <div class="center">Батырская</div>
          </a>
          <a class="carousel-item" href="#">
            <img class="circle" src="/images/pizza/spasy.jpg" alt="Спайси" />
            <div class="center">Спайси</div>
          </a>
          <a class="carousel-item" href="#">
            <img class="circle" src="/images/pizza/marinara.jpg" alt="Маринара" />
            <div class="center">Маринара</div>
          </a>
          <a class="carousel-item" href="#">
            <img class="circle" src="/images/pizza/margarita.jpg" alt="Маргарита" />
            <div class="center">Маргарита</div>
          </a>
          <a class="carousel-item" href="#">
            <img class="circle" src="/images/pizza/season.jpg" alt="4 Сезона" />
            <div class="center">4 Сезона</div>
          </a>
        </div>
      </article>
      <article class="center-align">
        <header>
          <h2>Галерея</h2>
          <small>Фотографий</small>
        </header>
        <div class="row justify-content-center card">
          <div class="col p-3 center-block">
            <img class="materialboxed circle" width="200" src="/images/pizza/batyrskaya.jpg" alt="Батырская" />
            <p>Батырская</p>
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/cheese.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/puleze.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/derevenskaya.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/kaprichoza.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/margarita.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/season.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/marinara.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/neopoletano.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/spasy.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/ohotnichya.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/pepperoni.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/prushotto.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/nutella.jpg" />
          </div>
          <div class="col p-3">
            <img class="materialboxed circle" width="200" src="/images/pizza/cherry.jpg" />
          </div>
        </div>
      </article>
    </section>
  </main>
  <%- include("../partials/footer.ejs") %>